*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

.primary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #24252a;
}
 .logo{
    color: #ecedf1;
    font-size: 28px;
 }

 nav ul li{
   
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
 }

 nav ul li a{
    color: #c6c7cc;
    text-decoration: none;
    font-weight: bold;
 }
 nav ul li a:hover
 {
    color: crimson;
 }
 .co{
    background-color: #0388a6;
    border-radius: 30px;
 }
 
 @media(min-width:576px)
 {
      width: 100%;
 }
